<form [formGroup]="formGroup">
    <div class="form-group">
        <div class="card text-center justify-content-center p-5" appDragDrop (onFileDropped)="onFileSelected($event)"
            (onDragOver)="showDropZone()" (onDragLeave)="hideDropZone()">
            <div class="drop-zone" *ngIf="shouldShowDropZone">
                <h5>Drop files here</h5>
            </div>
            <div class="form-content" *ngIf="!shouldShowDropZone">
                <h5>Select your bank statement below</h5>
                <div class="row">
                    <div class="mt-3 col-10 offset-1">
                        <select class="form-control" formControlName="bank" id="bank">
                            <option *ngFor="let b of banks" [ngValue]="b.value">{{ b.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="file-input row mt-3">
                    <div class="col-6 offset-3">
                        <input formControlName="bankStatementFile" type="file" class="mt-3 file" id="file"
                            aria-label="Bank Statement File" placeholder="Bank Statement File"
                            (change)="onFileSelected($event.target.files)" required>
                        <label for="file">SELECT</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>